.header {
  background-color: rgb(48, 48, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.searchForm {
  position: relative;
}

.searchField {
  padding-left: 30px;
  width: 300px;
  height: 30px;
}
.searchField:focus {
  outline: none;
}

.searchBtn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  height: 30px;
  width: 30px;
  text-align: center;
}
